@{
    ViewBag.Title = "Om";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Sökregister över sändningstillstånd, avställt 2018.<br />
    Registret innehåller poster för sändningstillstånd för radio, tv och digitala medier.<br />
    Uppgifterna är konverterade från tidigare SharePoint-register. De finns även sammanställda i arkivbeständigt format i form av CSV-filer. Dessa filer går att även läsa och söka i Excel.<br />
    Registret omfattar 7000 poster, fördelade i 13 olika delregister: Närradio, Kommersiell radio, Tillfälliga tillstånd, Marksänd tv, Övriga tillstånd, Lokal kabelsändarorganisation, Trådsändningar, Beställ-tv, Satellitsändningar, Satellitentreprenörer, Radiotidningar, E-postutskick och Databas.<br /><br />
    Avställning av registret och framtagande av denna sökfunktion är utförd av ArkivIT.
</p>
