@using MPRTSearch.ViewModel.SPA
@model SearchViewModel
@Html.ValidationMessage("Error", new { style = "color:red;" })
@using (Html.BeginForm("Search", "Main", FormMethod.Post))
{    
    <table>
        <tr>
            <td>
                <h2>sökord:</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h2>
                    @Html.TextBoxFor(x => x.SearchText, htmlAttributes: new { @class = "input-lg" })
                    @Html.ValidationMessageFor(x => x.SearchText)
                </h2>                
                <script src="~/Scripts/jquery-3.3.1.js"></script>
                <script src="~/Scripts/jquery.validate.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
                <script src="~/Scripts/Validations.js"></script>

            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="BtnSubmit" value="Sök" onclick="return IsValid();" class="btn btn-primary btn-lg" class="" />
            </td>
        </tr>
    </table>
}
